{% load staticfiles %}
{%block home_content%}
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="{% static 'css/style1.css'%}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--webfonts-->
		<!--//webfonts-->
</head>
<body>
	<div class="main">
		<div class="header" >
			<h1>账号登录</h1>
		</div>
		<p>欢迎来到我的个人博客~</p>
			<form action="{%url 'login'%}" method="post">
				<ul class="left-form">
                    {%csrf_token%}
					<h3>Login:</h3>
                    <p>{{ error }}</p>
					<div>
						 {%csrf_token%}
                        <li>{{login_form.username}}
                            <div class="clear"> </div>
                        </li>
                        <li>
							{%csrf_token%}
							{{login_form.password}}
                            <div class="clear"> </div>
                        </li>

						<h4>I forgot my Password!</h4>
							<input type="submit"  value="登录" >
							<input type="hidden"name="source_url"value="{{request.META.HTTP_REFERER}}">
					</div>
					<div class="clear"> </div>
				</ul>
				<div class="clear"> </div>
					
			</form>
			
		</div>
			<!-----start-copyright---->
   					<div class="copy-right">
						<p>登录页面</p>
					</div>
				<!-----//end-copyright---->

	
</body>
</html>
{%endblock%}