<!DOCTYPE html>
<html lang="en">
<head>
    <title>comment</title>
<meta charset="UTF-8">
<title>LIGHTBOX EXAMPLE</title>

</head>
<body>

<div id="light" class="white_content">
   <form action="{%url 'add_user'%}" method="POST">
       <div><h1>请输入你想要评论的内容</h1></div>
       {%csrf_token%}
    <p>用户：{{user_form.user}}</p>
    {%csrf_token%}
    <p>文章：{{user_form.article}}</p>
       {%csrf_token%}
    <p>内容{{user_form.content}}</p>

    <input type="submit"value="提交"><br>
       <input type="hidden"name="source_url"value="{{request.META.HTTP_REFERER}}">
</form>
    <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
    关闭</a></div>
<div id="fade" class="black_overlay">
</div>
</body>
</html>
